.cartContainer{
  
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8rem;
  
    
}



@media (max-width: 768px) {


}


@media (max-width: 576px) {
.summaryBox{
 width: 50%;
 margin-bottom: 15rem;
 margin-top: 6rem;
}
.cartContainer{
    margin-top: 12rem;
}  
.alertBox{
    margin: auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
}